## Custom response for createBatchDeviceLogs resolver

#if($ctx.error)
    ## Append a GraphQL error for that field in the GraphQL response
    $utils.appendError($ctx.error.message, $ctx.error.message)
#end

## Also returns data for the field in the GraphQL response
$utils.toJson($ctx.result.data.get($ctx.stash.deviceLogTableName))
